<?xml version="1.0" encoding="utf-8"?>
<!--
    Nota: agregue entradas al archivo App.config para los ajustes de configuración
    que solo aplican al proyecto Test.
-->
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <appSettings>

      <add key="PlaceToPay_Login" value="6dd490faf9cb87a9862245da41170ff2" />
      <add key="PlaceToPay_TranKey" value="024h1IlD" />
      <add key="PlaceToPay_URL" value="https://test.placetopay.com/redirection/" />
      <add key="URLToReturn" value="http://localhost/TiendaEvertec/Customer/OrderSaved/" />
      <add key="ProductCost" value="2000" />
      
    </appSettings>

  <connectionStrings>
    <add name="TiendaEvertecEntities" connectionString="metadata=res://*/Data.TiendaEvertecModel.csdl|res://*/Data.TiendaEvertecModel.ssdl|res://*/Data.TiendaEvertecModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CNP-DESA029-N\SQLEXPRESS02;initial catalog=TiendaEvertec;user id=usertest;password=171615.Az;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
 
</configuration>
